@import url('https://fonts.googleapis.com/css2?family=Syne:wght@700;800&family=DM+Sans:wght@400;500;600&display=swap');
@import "tailwindcss";

@theme {
    --font-display: 'Syne', sans-serif;
    --font-sans: 'DM Sans', sans-serif;
}